.wapper{
	padding: 20px;
}
.anmiation{
	position: absolute;
	width: 102px;
    height: 80px;
	background-repeat: no-repeat;
}
#rabbit1{
	top: 50px;
}
#rabbit2{
	top: 150px;
}
#rabbit3{
	top: 250px;
}
#rabbit4{
	top: 350px;
}
